
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/visualstudiocode

sqlite_data
redis_data
mongo_data
mosquitto_data
portainer_data
mysql_data
logs
mongo/client-connections/
mssql/mssql_data/
postgres/data
speed-test/data/
jmeter/tests/trivial/report
jmeter/tests/trivial/jmeter.log
